<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1056428433558-q37mdarranldh8b0n2un5euiel1co8gb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1056428433558-q37mdarranldh8b0n2un5euiel1co8gb</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1056428433558-3gjrj8ujghgso2kup36lij0re2f2d9qo.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDP4b5CP7NwfAkkHpGYTeS-ggK8OCJwPWM</string>
	<key>GCM_SENDER_ID</key>
	<string>1056428433558</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.cyphee</string>
	<key>PROJECT_ID</key>
	<string>cyphee-834c8</string>
	<key>STORAGE_BUCKET</key>
	<string>cyphee-834c8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1056428433558:ios:feba515acc7f83b06c22b7</string>
</dict>
</plist>